<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLinkActive="active" class="navbar-brand" routerLink="/">Brand</a>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/crisis-center" >Crisis Center</a></li>
                <li routerLinkActive="active"><a routerLink="/heroes" >Heroes</a></li>

            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>